body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
p {
   text-align: justify;
   color:dimgray;
   font-size:18px;
   line-height: 2;

}
.mt-100{
   margin-top: 100px;
}
.left-content {
   width: 40%;
   float: left;
   margin-left: 5%;
   padding-left: 2%;
}
.right-content {
   width: 40%;
   float: right;
   margin-right: 5%;
}
.top-banner {
   height: 500px;
   background: url(images/top-banner.png) no-repeat;
}
.right-content img,.left-content img {
   width: 100%;
}
h1 {
   font-size: 50px;
   line-height: 1;
}

h2{
   font-size:40px;
}
.highlight {
   color: orange;
}
.custom-btn{
   text-decoration: none;
   padding:10px 20px;
   background-image:linear-gradient(45deg,orange,tomato);
   border-radius:5px;
   color:rgb(255, 255, 255);
}
.dream{
   margin-top:100px;
   min-height: 500px;
   background-image: url("images/dream-bg.png") ;
   background-repeat: no-repeat;
   background-position:right center;
}
.experience{
   min-height: 500px;
   clear: both;
}
.frontend,.backend
{
   padding: 15px;
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.frontend{
   border-left: 3px solid;
   border-image: linear-gradient(45deg,orange,tomato);
   border-image-slice: 1;
}
.backend{
   border-left: 3px solid;
   border-image: linear-gradient(45deg,skyblue,blue);
   border-image-slice: 1;
}
footer p{
   text-align:center;
   background-color: aliceblue;
   padding:10px;
   margin: 0;
}